{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="container">

    <h1 class="text-center display-4">MRDC Blog</h1>
    <br>
    <h2 class="text-center projects">Posts</h2>
    <br>
    <div class="row text-center">
        {% for post in posts %}

        <div class=" col-4 mb-2">
            <div class="card h-100">
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                    <a class="btn btn-outline-primary" href="{% url 'post-detail' post.id %}">Read More</a> <br>
                </div>
                <div class="card-footer">
                    Posted By: {{post.author}}
                    <small class="text-muted">
                    </small> &nbsp;&nbsp;
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% endblock content %}