.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {

    font-size: 130%;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: azure;
}


.cursive {
    font-family: 'Satisfy',
        cursive;
    font-size: 180%;
}

h1 {
    font-family: 'Zilla Slab Highlight',
        cursive;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.nav-text li {
    font-family: 'Allerta Stencil',
        sans-serif;
}

.projects {
    font-family: 'Barriecito',
        cursive;
}



.contact-title h3 {
    font-family: 'Acme',
        sans-serif;
}

.accounts {
    font-family: 'Acme',
        sans-serif;
    font-size: 180%;
}

body {
    background-color: wheat;
}

.carousel .item {
    height: 200px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
}